* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: whitesmoke;
    padding: 8px 0px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.links {
    font-size: 18px;
}

.sect-one {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 50px;
    border: 10px;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-sec {
    color: #E5E7EB;
    font-size: 18px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0px 6px;

}

img {
    width: 400px;
    height: auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
    border-width: 0px;
    width: 100px;
    height: 30px;
}